<app-navbarcomponent></app-navbarcomponent>
<div class="justify-content-center" style="flex-wrap: wrap;">
    <table>
        <tr>
      <td>  <input type="text" [(ngModel)]='search'></td>
      <td><input type="button" value="Search"></td>
      <td><input type="button" value="create" (click)="create()"></td>
    </tr>
    </table>
    <table style="justify-content: center;background-color: blueviolet; width: 100%;">
    <tr>
        <td style="padding: 5px; margin-right: 5px;">Slno</td>
        <td style="padding: 5px; margin-right: 5px;">orderID</td>
        <td style="padding: 5px; margin-right: 5px;">OrderDate</td>
        <td style="padding: 5px; margin-right: 5px;">client</td>
        <td style="padding: 5px; margin-right: 5px;">vendor</td>
        <td style="padding: 5px; margin-right: 5px;">items</td>
    </tr>
    <tr >
    </tr>
    
    
    </table>
</div>